@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    scroll-behavior: smooth;
}



/* body */
body {
    background: linear-gradient(to right, #f00, #0059b3,#0f0,#0ff,#ff0,#0ff ,#0f0,#0059b3, #f00);
    mix-blend-mode: color;
    font-family: Exo; Roboto;
    color: #fff;
}



#headingpage {
  background-color: transparent;
  width: 100vw;
  margin-bottom: 25px;
  padding: 10px;
  position: fixed;
  top: 0;
}



#about {
    background-image: url('../images/glasses.jpg'); 
    background-position: top;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-bottom: 5px;
    margin-top: 5px; 
    color: #fff;

}

.aboutbox {

    background: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    padding: 80px;
}

#iframeabout {
    padding-top: 40px;
}



#projects {
    background-image: url('../images/Rubiks3.jpg');
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-bottom: 5px;
    color: #fff;
}  


#experienceskills {
   background-image: url('../images/color abstract.jpg');  
   background-attachment: fixed;
   background-position: bottom;
   background-size: cover;
   height: 80vh;
   width: 100vw;
   margin-bottom: 5px;
  }

.container {
    padding: 5px;
    margin: 0 auto;
}

.row {
    margin-bottom: 5px;
}

.card {
    background-color: rgba(255,255,255, 0.8);
    color: black;
    text-align: center;
    display:inline-block;
    margin: 0 auto;
    border-radius: 50px;
}

.card img {
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}

#contact {
   background-image: url('../images/color abstract.jpg'); 
   background-attachment: fixed;
   background-position: bottom;
   background-size: cover;
   height: 80vh;
   width: 100vw;
   margin-bottom: 5px; 
}

#contact form {
padding: 8px;    
}



#intro {
  background-image: url('../images/color abstract.jpg');  
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    padding-top: 40vh;
    text-align: center;
}



footer {
    background-image: url('../images/color abstract.jpg'); 
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    margin-bottom: 5px;
    color: #fff;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 50%;
  position: relative;
  left: 21vw;
}

h3 {
    padding: 10px;
    padding-left: 65px;
    font-size: 32px;
}


h6{
    text-align: center;
}


/* NAV BAR */

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,.4);
}


.navbar-dark .navbar-toggler:hover {
    border-color: rgba(255,255,255,.4);
}

a {
 text-decoration: none;
 color: #fff
}

a:hover {
    text-decoration: none;
    color: red;
    background-color:  rgba(255,255,255, 0.8);
    }



/* animation */

h1{
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 5em;
    text-transform: uppercase;
}
h1 span{
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px)
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter:blur(0)
    }
}
h1 span:nth-child(1){
    opacity: 0;
    animation-delay: 2s;
}
h1 span:nth-child(2){
    opacity: 0;
    animation-delay: 2.5s;
}
h1 span:nth-child(3){
    opacity: 0;
    animation-delay: 2.75s;
}
h1 span:nth-child(4){
    opacity: 0;
    animation-delay: 3s;
}
h1 span:nth-child(5){
    opacity: 0;
    animation-delay: 3.5s;
}
h1 span:nth-child(6){
    opacity: 0;
    animation-delay: 3.75s;
}
h1 span:nth-child(7){
    opacity: 0;
    animation-delay: 4s;
}
h1 span:nth-child(8){
    opacity: 0;
    animation-delay: 4.5s;
}
h1 span:nth-child(9){
    opacity: 0;
    animation-delay: 4.75s;
}
h1 span:nth-child(10){
    opacity: 0;
    animation-delay: 5s;
}




h2 span{
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 1em;
}
h2 span{
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px); 
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter:blur(0)
    }
}

h2 span:nth-child(1){
    opacity: 0;
    animation-delay: 5.25s;
}