@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* body */
body {
    background-color: transparent;
    font-family: Exo; Roboto;
    color: #fff;
}


header {
    margin: 0;
    padding:0;
}


#headingpage {
  background-image: url('../images/color abstract.jpg');  
  background-size: cover;
}

#about {
    background-image: url('../images/backup.jpg'); 
    background-position: top;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    margin-bottom: 0px; 
}

#skills {
    background-image: url('../images/abstract.jpg'); 
    background-position: bottom;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    margin-bottom: 0px;
}  


#experience {
   background-image: url('../images/color abstract.jpg');  
   background-position: bottom;
   background-size: cover;
   height: 60vh;
   width: 100vw;
   margin-bottom: 0px;
}

#contact {
   background-image: url('../images/color abstract.jpg'); 
   background-position: bottom;
   background-size: cover;
   height: 60vh;
   width: 100vw;
   margin-bottom: 0px; 
}



#intro {
  background-image: url('../images/color abstract.jpg');  
    background-position: bottom;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    margin-bottom: 0px;
    padding-top: 22vh;
    text-align: center;
}


footer {
    background-color: #fff;  
    background-position: bottom;
    background-size: cover;
    height: 15vh;
    width: 100vw;
    margin-bottom: 0px;
}

